{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{message}}</h2>

    {% for listing in listings%}


      <div id ="container-fluid" style="text-align:center;">
        <div id="floated-imgs">
          <img src="{{listing.image_link}}" alt="Profile Picture" width="225"/>
        </div>
            <a  href="{% url 'viewListing' listing.id%}">{{listing.title}}</a>
            <p >{{listing.description}}</p>
            <p ><strong> Price: </strong>{{listing.start_value}}€</p>
            <p >Created {{listing.created_at}}</p>


      </div>

    {% endfor %}

{% endblock %}
