{% extends "auctions/layout.html" %}

{% block title %}
    {{listing.title}}
{% endblock %}

{% block body %}

  <h1> {{listing.title}} </h1>


  <div id="floated-imgs">
    <img src="{{listing.image_link}}"  width="250"/>
        <p><strong> Price: </strong>{{listing.start_value}}€</p>
        {{num_bids}} bid(s) so far.

        {% if listing.flag_active == 1 %}

          <p> The winner of the listing is {{listing.winner}} </p>

        {% elif user.get_username == listing.user.username %}

          <a  href="{% url 'close_auction' listing.id %}">Close Listing</a>


        {% else %}
        <form action="{% url 'placeBid' %}" method="post">
            {% csrf_token %}
            {{form}}
            <br>
          <input class="btn btn-primary" type="submit" value="Place Bid">
          <input type="hidden" name="item_id" value="{{listing.id}}">
        </form>
      </div>

      <div id ="ola" style="text-align:center;">

        <h2> Details </h2>
          <ul>
            <li>Listed by: {{listing.user.username}}</li>
          </ul>
          {% if watchlist.count == 0 %}
            <a  href="{% url 'add_watchlist' listing.id %}">Add to Watchlist</a>

          {% else %}
          <a  href="{% url 'remove_watchlist' listing.id %}">Remove from Watchlist</a>
          {% endif %}

      </div>
       {% endif %}









{% endblock %}
