{% extends "auctions/layout.html" %}

{% block title %}
    {{listing.title}}
{% endblock %}

{% block body %}

  <h1> {{listing.title}} </h1>

  <div style ="text-align:center">
  {% if watchlist.count == 0 %}
    <a  href="{% url 'add_watchlist' listing.id %}">Add to Watchlist</a>

  {% else %}
  <a  href="{% url 'remove_watchlist' listing.id %}">Remove from Watchlist</a>
  </div>
  {% endif %}


  <div id="floated-imgs">
    <img src="{{listing.image_link}}"  width="275" />
        <p><strong> Price: </strong>{{listing.start_value}}€</p>
        {{num_bids}} bid(s) so far.

        {% if listing.flag_active == 1 %}

          <p> The winner of the listing is {{listing.winner}} </p>

        {% elif user.get_username == listing.user.username %}

          <a  href="{% url 'close_auction' listing.id %}">Close Listing</a>


        {% else %}
        <form action="{% url 'placeBid' %}" method="post">
            {% csrf_token %}
            {{form}}
            <br>
          <input class="btn btn-primary" type="submit" value="Place Bid">
          <input type="hidden" name="item_id" value="{{listing.id}}">
        </form>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <h2> Details </h2>
          <ul>
            <li>Listed by: {{listing.user.username}}</li>
          </ul>

          <br><br><br><br>
          <h3> Comments </h3>
          <ul>
              {% for c in comments %}
                  <li>{{c.comment}} -<strong> {{c.user.username}}</strong></li>
              {% endfor %}
          </ul>

       {% endif %}


       <div style = "text-align:left">
         <form action="{% url 'addComment' %}" method="post">
             {% csrf_token %}
             {{c_form}}
             <br>
           <input class="btn btn-primary" type="submit" value="Submit Comment">
           <input type="hidden" name="item_id" value="{{listing.id}}">

         </form>
       </div>






{% endblock %}
